main, body, html {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-weight: normal;
}